 @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap');
main{
    text-align: center;
    font-family: 'Comic Neue', cursive;
}
h1{
    padding: 10%;
    background-image: url("https://www.paragyte.com/img/React_Banner.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 60px;;
    color: rgb(140, 255, 255);
    text-align: left;
}
.question{
    margin-left: 12%;
}
header {
    background-color: rgb(209, 181, 181);
    width: 90%;
}
p {
    background-color: rgb(212, 205, 205);
    cursor: pointer;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}